################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Game/Game/obj
/Game/.vs/
/Game/Game/bin
*.user
